// font
$flagFontEN: -apple-system-font,
'Helvetica Neue';
$flagFontCN: 'PingFang SC',
'Hiragino Sans GB',
'Microsoft YaHei';
$flagFontSans: sans-serif;
$flagFontDefault: $flagFontEN,
$flagFontSans;
// color
$color-primary: #20a0ff; //#18c79c
$color-warning: #f7ba2a;
// num
$content-container-width: 1200px;
$px0: 0px;
$px1: 1px;
$px5: 5px;
$px10: 10px;
$px12: 12px;
$px13: 13px;
$px14: 14px;
$px15: 15px;
$px16: 16px;
$px18: 18px;
$px20: 20px;
$px22: 22px;
$px24: 24px;
$px25: 25px;
$px26: 26px;
$px28: 28px;
$px30: 30px;
$px32: 32px;
$px48: 48px;
$px50: 50px;
$px100: 100px;
$length0: 0;
$length20: 20%;
$length50: 50%;
$length70: 70%;
$length100: 100%;
// position
$relative: relative;
$absolute: absolute;
$fixed: fixed;

/* 颜色 */

// 主色调
$primary: #108ee9;
// 次色调
$minor: #595959;
$Blue: #20a0ff;
$Success: #13ce66;
$Warning: #f7ba2a;
$Danger: #ff4949;
$LightBlue: #58b7ff;
$DarkBlue: #1d8ce0;
$Black: #1f2d3d;
$LightBlack: #324057;
$ExtraLightBlack: #475669;
$Silver: #8492a6;
$LightSilver: #99a9bf;
$ExtraLightSilver: #c0ccda;
$Gray: #d3dce6;
$LightGray: #e5e9f2;
$ExtraLightGray: #eff2f7;
$DarkWhite: #f9fafc;
$White: #ffffff;
$costom1: #e5e3e2;
$costom2: #eeeae8;
